{% extends "base.html" %}
{% load static %}

{% block title %}
Savewise

{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>My Plan</h3>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">My wallet: &#8358; 250,000.00</h5>
                    <h5 class="card-subtitle mb-2 text-muted">Plan Name: Rent</h5>
                    <p class="card-text">Description: This saving is for me to get a building at lekki by 2025</p>
                    <a  href="#" class="btn btn-success">Withdraw</a>
                    <a href="{% url 'index' %}" class="btn btn-warning">Continue Saving</a>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}